/* 1272px is given by body.margin-left + nav.width +
 * margin_between_nav_and_the_main_content + main.width +
 * margin_between_nav_and_the_main_content + nav.width + body.margin-left +
 * safe_scrollbar_width(24px) in main.css (the right-hand margin must be kept
 * into account with the second margin_between_nav_and_the_main_content +
 * nav.width)
 */

header,
main,
footer {
    margin-left: 16%;
    /* Don't set width: 84%; here, let the content expand as needed, because
     * also the various margins and paddings have to be taken into account
     */
}

nav {
    left: 0;
    margin-left: 0;
    width: 15%;
}
