#menujump {
    display: block;
}

header {
    margin-top: 54px; /* #menujump.padding-top + #menujump.height +
                         custom_margin */
}

main {
    margin-left: 0;
}

nav {
    position: static;
    width: auto;
    max-width: none;
}

nav > h2 {
    display: block;
}

nav > ul {
    padding-left: 20px; /* This is the same padding defined in main.css for
                           ul */
    list-style-type: disc;
}

footer {
    height: auto;
}

footer > p,
footer > iframe {
    float: none;
    margin-top: 6px;
}
