main {
    margin-left: 0;
}

nav {
    position: static;
    width: auto;
    max-width: none;
    transform: none;
}

nav > h2 {
    display: block;
}

footer {
    height: auto;
    padding-bottom: 2em; /* Make room for #menujump when scrolled to the
                            bottom */
}

footer > p,
footer > iframe {
    float: none;
    margin-bottom: 6px;
}

#menujump {
    display: block;
    position: fixed;
    bottom: 0; /* Keep at the bottom, otherwise when clicking on the link it
                  will cover the Menu heading */
    right: 0;
    margin: 0;
    padding: 6px;
    background-color: #275385;
    z-index: 10;
    text-align: center;
}

#menujump > a {
    color: #ccc; /* like body.background-color */
    font-weight: bold;
    text-decoration: none;
}

#menujump > a:hover {
    text-decoration: underline;
}
