#menujump {
    display: block;
}

header {
    margin-top: 54px; /* #menujump.padding-top + #menujump.height +
                         custom_margin */
}

main {
    margin: 12px;
}

nav {
    position: static;
    width: auto;
}

nav > h2 {
    display: block;
}

footer {
    height: auto;
}

footer > p,
footer > iframe {
    float: none;
    margin-top: 6px;
}
