body {
    margin: 0;
    padding: 0;
    background-color: #ccc;
    font-family: sans;
    color: #333;
}

a:link {
    color: #4779B0;
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    color: #275385;
}

a:hover {
    text-decoration: underline;
}

ul {
    padding-left: 20px;
}

header,
main,
footer {
    max-width: 800px;
    padding: 0 12px;
    margin: 0 auto;
}

header {
    margin-top: 12px;
}

h1 {
    margin: 0;
    text-align: center;
}

h1 > img {
    width: 100%;
    max-width: 600px;
}

@media screen and (max-width: 900px) {
    h1 > img {
        max-width: 500px;
    }
}

header > p {
    text-align: justify;
}

section {
    float: left;
    width: 50%;
}

@media screen and (max-width: 600px) {
    section {
        float: none;
        width: auto;
    }
}

section li {
    margin: 6px 0;
}

footer {
    clear: both;
    text-align: center;
    font-size: small;
}

footer > p {
    margin: 6px 0;
}
