body {
    margin: 0;
    background-color: #ccc;
    color: #333;
}

nav {
    position: fixed;
    min-width: 100px;
    max-width: 200px;
}

main {
    margin: 0 auto;
    padding: 12px;
    max-width: 800px;
}

header {
    margin-bottom: 12px;
}

h1 {
    margin: 0;
    text-align: center;
}

h1 > img {
    width: 100%;
    max-width: 600px;
}

#unslider {
    /* Needed by Unslider */
    position: relative;
    overflow: auto;
}

#unslider ul {
    margin: 0;
    padding: 0;
}

#unslider li {
    /* Needed by Unslider */
    list-style: none;
}

#unslider ul li {
    height: 200px; /* The height of the images; this will also correctly
                      initialize the height of the slider */
    background-repeat: no-repeat;
    background-position: center top;

    /* Needed by Unslider */
    float: left;
}

#unslider ul li:nth-of-type(1) {
    background-image: url("images/unslider/1-0.8.1.png");
}

#unslider ul li:nth-of-type(2) {
    background-image: url("images/unslider/2-0.8.1.png");
}

#unslider ul li:nth-of-type(3) {
    background-image: url("images/unslider/3-0.8.1.png");
}

#unslider ol.dots {
    /* CSS taken from http://unslider.com/ */
    position: absolute;
    left: 50%;
    bottom: 12px;
    padding: 0;
    margin: 0 0 0 -33px; /* The computed width of the three dots is 66px */
    z-index: 10;
}

#unslider ol.dots li {
    /* CSS taken from http://unslider.com/ */
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 4px;
    text-indent: -999em;
    border: 2px solid orangered;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0.5;
    -webkit-transition: background .5s, opacity .5s;
    -moz-transition: background .5s, opacity .5s;
    transition: background .5s, opacity .5s;
}

#unslider ol.dots li.active {
    background: orangered;
    opacity: 0.8;
}

section > p {
    text-align: justify;
}

footer {
    padding-top: 12px; /* Use padding and not margin because of the floated
                          children */
    height: 24px; /* Use an explicit height because of the floated children */
    font-size: small;
}

footer > p {
    float: left;
    margin: 0;
}

footer > iframe {
    float: right;
    margin: 0;
}
