body {
    margin: 0;
    padding: 0;
    background-color: #ccc;
    font-family: sans;
    color: #333;
}

a:link {
    color: #4779B0;
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    color: #275385;
}

a:hover {
    text-decoration: underline;
}

a.back_home {
    float: right;
}

ul {
    padding-left: 20px;
}

header,
#main, /* Opera 12 doesn't support the HMTL5 main element */
footer {
    max-width: 800px;
    padding: 0 12px;
    margin: 0 auto;
}

header {
    margin-top: 12px;
    text-align: center;
}

header img {
    width: 100%;
    max-width: 600px;
}

@media screen and (max-width: 900px) {
    header img {
        max-width: 500px;
    }
}

footer {
    clear: both;
    text-align: center;
    font-size: small;
}

footer > p {
    margin: 6px 0;
}
