[Desktop Entry]
Name=Outspline
GenericName=Personal Organizer
Comment=Manage personal tasks and remind upcoming events
Keywords=Organizer;Tasks;Time;Calendar;Todo;Schedule;Events;Agenda;Outliner;
Exec=outspline
Icon=outspline
Terminal=false
Type=Application
Categories=Calendar;Utility;Office;TextTools;
