[Desktop Entry]
Name=Outspline
GenericName=Outliner
Comment=A highly modular and extensible outliner
Exec=outspline
Icon=text-editor
Terminal=false
Type=Application
Categories=Office;TextTools;Calendar;
