[Desktop Entry]
Name=Organism
GenericName=Outliner
Comment=A simple and extensible outliner
Exec=organism
Icon=text-editor
Terminal=false
Type=Application
Categories=Office;TextTools;Calendar;
